<main class="flex flex-col items-center justify-center">
  <section class="flex justify-center w-full border-b bg-white">
    <div class="container py-12 px-6 lg:px-0">
      <h1 class="text-3xl font-bold text-zinc-900">Meus pedidos</h1>
      <p class="text-zinc-400">
        Verifique o andamento de seus pedidos realizados.
      </p>
    </div>
  </section>

  <section class="my-12">
    <app-loading
      custom="w-12 h-12 border-[3px] border-zinc-900/5 border-r-emerald-600  rounded-full animate-spin"
    />
  </section>
</main>
